#   -------------------------------
#   1.  USER
#   -------------------------------
[user]
    name = Will
    email = will@coefficientinc.com

#   -------------------------------
#   2.  ALIAS
#   -------------------------------

[alias]
    # status
    s = status

    # adding files
    a = add

    # committing
    c = commit -m
    xa = commit -a -m
    amend = commit --amend -m

    # branches
    f = fetch
    br = branch
    co = checkout
    master = checkout master

    # pushing and pulling
    pu = push origin
    pl = pull origin

    # will put a file into gitignore
    ignore=!([ ! -e .gitignore ] && touch .gitignore) | echo $1 >>.gitignore

    # misc
    hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short

    # For when you fuck up
    remove-last = reset --soft HEAD~1
    remove-last-hard = reset --hard HEAD~1

    # Will start a repo in the current directory
    this = !git init && git add . && git commit -m \"initial commit\"

    # list aliases
    alias = config --get-regexp alias

#   -------------------------------
#   3.  COLOR
#   -------------------------------

[color]
    ui = true

